.wrapper
  = render 'roots/header'
  %body
  .body_main
    %div.slick
      %div
        = image_tag "heidi-fin-2TLREZi7BUg-unsplash.jpg", class: "slide-image"
        
    .product-header
      ピックアップカテゴリーaaaaaaaaaaaaaaaaaa
    .product-container
      .product-container_box__clearfix
        .text_place
          .text_place__left
            レディース 新着アイテム
          .text_place__right
            もっと見る
        .product-container_contents__box-clearfix
                 

      .product-container_box__clearfix
        .text_place
          .text_place__left
            メンズ 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
         

      .product-container_box__clearfix
        .text_place
          .text_place__left
            ベビー・キッズ 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          
     

      .product-container_box__clearfix
        .text_place
          .text_place__left
            コスメ・香水・美容 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          

    .product-header
      ピックアップブランド
    .product-container
      .product-container_box__clearfix
        .text_place
          .text_place__left
            シャネル 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            ルイ ヴィトン 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            シュプリーム 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            ナイキ 新着アイテム
          .text_place__right
            もっと見る
          
        .product-container_contents__box-clearfix
          


    .product-footer_image
      = image_tag "heidi-fin-2TLREZi7BUg-unsplash.jpg", class: "footer-image"

    = render 'roots/footer'
    = render 'roots/footer2'
    = render 'roots/footer3'
