:css
  .l-side>ul>a:nth-child(1)>li{
    background-color: #eee !important;
    font-weight: 600;
  }
.body
  =render partial: 'layouts/header'
  -# - breadcrumb :mypage
  -# =render partial: 'layouts/bread-crumbs'
  -# = render 'layouts/notifications'

  .wrapper
    = render partial: "mypages/mypage-sidemenu"
    .user-info
      .user-info-container
        %section.container
          %h2.container__head 本人情報の登録
          = form_with model: @user, class: "container__body" do |f|
            -# @user.each do |user|
            %div
              %p お客様の本人情報をご登録ください。
              %p 登録されたおなまえ・生年月日を変更する場合、本人確認の提出が必要になります。 
              = link_to root_path , class: 'link-right' do
                %span 本人確認書類のアップデートについて
                %i.fa.fa-chevron-right
            .container__body--group
              %label お名前 
              %p
                = @user.last_name
                = @user.first_name
            .container__body--group
              %label お名前カナ
              %p 
                = @user.last_name_kana
                = @user.first_name_kana
            .container__body--group
              %label 生年月日
              %div.user_birthday
                = @user.birthdate_year
                .text-list-edit /
                = @user.birthdate_month 
                .text-list-edit /
                = @user.birthdate_day

            .container__body--group
              %label{for: "zip_code"} 郵便番号
              %span.form-arbitrary 任意
              -# %input{type: "text", value_name: "zip_code", placeholder: "例)1234567", class: "input_default", kl_vkbd_parsed: "true"}
              = f.text_field :address_number, class:"input-default", placeholder: "例) 1234567"
            .container__body--group
              %label{for: "prefecture"} 都道府県
              %span.form-arbitrary 任意
              .group-select_wrap
                = f.select :prefecture, User.address_prefectures.keys.to_a,{include_blank: "---"},{class: "select-default"}
                %i.fa.fa-chevron-down.arrow-bottom
            .container__body--group
              %label{for: "city"} 市区町村
              %span.form-arbitrary 任意
              = f.text_field :address_name, class:"input-default", placeholder: "例) 名古屋市"
            .container__body--group
              %label{for: "address1_label"} 番地
              %span.form-arbitrary 任意
              = f.text_field :address_block, class:"input-default", placeholder: "例) 中区栄1-1-1"
            .container__body--group
              %label{for: "address2_label"} 建物名
              %span.form-arbitrary 任意
              = f.text_field :address_building, class:"input-default", placeholder: "例) メゾン南蛮 201"
              = f.hidden_field :id 
            = f.submit '登録する', class: 'btn-defualt btn-red' do
              .btn-defualt
      
            .container__footer--text-right
              = link_to root_path , class: 'link-right2' do
                %span 本人確認の登録について
                %i.fa.fa-chevron-right
                
  = render partial: 'layouts/footer'