.mypage-nav
  %nav.mypage-nav__box
    %ul.mypage-nav__box__list
      %li
        = link_to "お知らせ","https://www.mercari.com/jp/", { :id => "mypage-nav__box__list__top" }
        -# = fa_icon "chevron-right", class: "mypage-navi-list_li_icon"

      %li
        = link_to "やることリスト","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "いいね！一覧","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "出品する","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "出品した商品-出品中","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "出品した商品-取引中","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "出品した商品-売却済み","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "購入した商品-取引中","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "購入した商品-過去の取引","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "ニュース一覧","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "評価一覧","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "ガイド","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "お問い合わせ","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }



    %h3.mypage-nav__box__head
      メルペイ
    %ul.mypage-nav__box__list
      %li
        = link_to "売り上げ・振込申請","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "ポイント","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }

    %h3.mypage-nav__box__head
      設定
    %ul.mypage-nav__box__list
      %li
        = link_to "プロフィール","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "発送元・お届け先住所変更","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "支払い方法","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "メール/パスワード","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "本人情報",edit_identification_path, { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "電話番号の確認","https://www.mercari.com/jp/", { :class => "mypage-nav__box__list__item" }
      %li
        = link_to "ログアウト",logout_path, { :class => "mypage-nav__box__list__item" }
