.login-container
  = render 'shared/user-header'

  .scontent
    .scontent-header
      %h 購入内容の確認    
    %div.scontent__main
      .scontent__main--item
      %span.scontent__main--item-image
        - @products_image.each do |product|
          = image_tag product.images.find_by(product_id: product.id).image_url, size: "80x80"
        .contents__subtitle
          %p.contents__subtitle--item-name
            = @products.name
          %p.contents__subtitle--item-price
            = converting_to_jpy(@products_price)
            - if @products.fee == "送料込み（出品者負担）"
              送料込み
            - else
              ＋ 送料 ¥ 500
            %span.contents__subtitle--item-shipping (税込)送料込み 

    .content-midle
      .payment-information-first
        .payment-information-second
          %ul.payment-information-second__middle--payment_amount 支払い金額
          %ul.payment-information-second__middle--payment_price
            = converting_to_jpy(@products_price)
            - if @products.fee == "送料込み（出品者負担）"
              送料込み
            - else
              ＋ 送料 ¥ 500
        %button.payment-information-first__upper--point{type: "submit"} ポイントはありません

      .users-address-information
        .address-confirmation
          %p.address-confirmation__delivery 配送先
          .address-confirmation__delivery--detail 
            %p.post-number
            〒
            = current_user.address_number
            %p.address-detail 
              = current_user.address_prefecture
              = current_user.address_name
              = current_user.address_block
              = current_user.address_building
            %p.name-detail
              = current_user.last_name
              = current_user.first_name
          %button.address-confirmation__change{type: "submit" }
            %a 変更する
            %i.fas.fa-angle-right


      .users-payment-information
        .payment-confirmation
          %p.payment-confirmation__title 支払い方法
          .payment-confirmation__detail
          - if @default_card_information.blank?
            %br /
          - else
            %p.payment-confirmation__detail--number 
              = "**** **** **** " + @default_card_information.last4
            %p.payment-confirmation__detail--date 
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
            %span.payment-confirmation__detail--image
            = image_tag "/images/#{@card_src}", width: '49', height: '15', alt: @card_brand, id: "card_image"
          %button.payment-confirmation__detail--change
            %a 変更する
            %i.fas.fa-angle-right

      .buy_button
        = form_tag(action: :pay, method: :post) do
          %button.payment-information-second__middle--payment_decide 購入する
  = render 'shared/user-footer'