=render partial: 'layouts/header'
%body
  .body_main
    %div.slick
      %div
        = image_tag "heidi-fin-2TLREZi7BUg-unsplash.jpg", class: "slide-image"
      
    .product-header
      人気のカテゴリーdddddddddddd
    .product-container
      .product-container_box__clearfix
        .text_place
          .text_place__left
            レディース 新着アイテム
          .text_place__right
            もっと見る>
        .product-container_contents__box-clearfix
          .box-contents
            - @products.each do |product|
              .items-box
                = link_to product_path(product), method: :get do
                  .items-box_photo
                    = image_tag product.images.find_by(product_id: product.id).image_url, size: "213x260"
                  .items-box_body
                    %h3.items-box-name
                      ¥ 
                      = product.price
                    .items-box-num
                      .items-box-price
                        = product.name


      .product-container_box__clearfix
        .text_place
          .text_place__left
            メンズ 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            ベビー・キッズ 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix
          
      

      .product-container_box__clearfix
        .text_place
          .text_place__left
            コスメ・香水・美容 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix
          

    .product-header
      人気のブランド
    .product-container
      .product-container_box__clearfix
        .text_place
          .text_place__left
            シャネル 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            ルイ ヴィトン 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix
          

      .product-container_box__clearfix
        .text_place
          .text_place__left
            シュプリーム 新着アイテム
          .text_place__right
            もっと見る>
          
        .product-container_contents__box-clearfix

=render partial: 'layouts/footer'
=render partial: 'layouts/footer-button'