.footer
  .footer-top
    .footer-top-inner
      .footer-top-inner__right
        #h2 スマホでかんたんフリマアプリ
        #p 今すぐ無料ダウンロード！
        .footer-top-inner__right-icon
          .footer-top-inner__right-app
            = link_to image_tag "appstore.png", size: "133x42", class: "footer-top-inner__right-app_icon-left", href:"#"
            = link_to image_tag "google-play.png", size: "133x42", class: "footer-top-inner__right-app_icon-right", href:"#"
      .footer-top-inner__left

  .footer-bottom
    .footer-main
      .footer-main__left
        .footer-cell.footer-cell_mercari
          %h2 Fmarketについて
          %ul
            %li
              = link_to '#' do
                会社概要（運営会社）
            %li
              = link_to '#' do
                採用情報
            %li
              = link_to '#' do
                プレリリース
            %li
              = link_to '#' do
                公式ブログ
            %li
              = link_to '#' do
                Fmarketロゴ利用ガイド
            .sns-icon
              = link_to '#' do
                %i.fab.fa-twitter.fa-2x
              = link_to '#' do
                %i.fab.fa-facebook-square.fa-2x
             
        .footer-cell.footer-cell_help
          %h2 ヘルプ＆ガイド
          %ul
            %li
              = link_to '#' do
                Fmarketガイド
            %li
              = link_to '#' do
                らくらくFmarket便
            %li
              = link_to '#' do
                ゆうゆうFmarket便
            %li
              = link_to '#' do
                大型Fmarket便
            %li
              = link_to '#' do
                車体取引ガイド
            %li
              = link_to '#' do
                Fmarketあんしん・あんぜん宣言！
            %li
              = link_to '#' do
                偽ブランド品撲滅への取り組み
            %li
              = link_to '#' do
                Fmarketボックス
      .footer-main__center
        .footer-cell.footer-cell_privacy
          %h2.footer-title
            プライバシーと利用規約
          .footer-item
            .footer-cell-inner__left
              %ul
                %li
                  = link_to '#' do
                    プライバシーポリシー
                %li
                  = link_to '#' do
                    Fmarket利用規約
                %li
                  = link_to '#' do
                    あんしんスマホサポート制度に関する利用特約
                %li
                  = link_to '#' do
                    コンプライアンスポリシー

            .footer-cell-inner__right
              %ul
                %li
                  = link_to '#' do
                    個人データの安全管理に係る基本方針
                %li
                  = link_to '#' do
                    特定商取引に関する表記
                %li
                  = link_to '#' do
                    資金決済方に基づく表示
                %li
                  = link_to '#' do
                    法令遵守と犯罪抑止のために
                %li
                  = link_to '#' do
                    返品・返金ポリシー
      .footer-main__right
        .footer-cell.footer-cell_country
          %h2 国
          %ul
            %li
              = link_to '#' do
                日本
            %li
              = link_to '#' do
                United Status
    .footer-sub
      .footer-sub__left
        = link_to image_tag "fmarket_logo_white.svg", href:"#"
      .footer-sub__right
        %small © Fmarket, inc