.footer
  .footer-top
    .footer-top-inner
      .footer-top-inner__right
        #h2 スマホでかんたんフリマアプリ
        #p 今すぐ無料ダウンロード！
        .footer-top-inner__right-icon
          -# = image_tag "/images/mercari.app.acon.png", size: "68x68", class: "footer-top-inner__right-icon-left"
          .footer-top-inner__right-app
            = link_to image_tag "appstore.png", size: "133x42", class: "footer-top-inner__right-app_icon-left", href:"https://apps.apple.com/jp/app/id667861049?l=ja"

            = link_to image_tag "google-play.png", size: "133x42", class: "footer-top-inner__right-app_icon-right", href:"https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja"
      .footer-top-inner__left

  .footer-bottom
    .footer-main
      .footer-main__left
        .footer-cell.footer-cell_mercari
          %h2 メルカリについて
          %ul
            %li
              = link_to 'https://about.mercari.com/' do
                会社概要（運営会社）
            %li
              = link_to 'https://careers.mercari.com/' do
                採用情報
            %li
              = link_to 'https://about.mercari.com/press/news/' do
                プレリリース
            %li
              = link_to 'https://jp-news.mercari.com/' do
                公式ブログ
            %li
              = link_to 'https://www.mercari.com/jp/logo-guidelines/' do
                メルカリロゴ利用ガイド
            .sns-icon
              = link_to 'https://twitter.com/mercari_jp' do
                %i.fab.fa-twitter.fa-2x
              = link_to 'https://www.facebook.com/mercarijp' do
                %i.fab.fa-facebook-square.fa-2x
             
        .footer-cell.footer-cell_help
          %h2 ヘルプ＆ガイド
          %ul
            %li
              = link_to 'https://www.mercari.com/jp/help_center/' do
                メルカリガイド
            %li
              = link_to 'https://www.mercari.com/jp/rakuraku-mercari/' do
                らくらくメルカリ便
            %li
              = link_to 'https://www.mercari.com/jp/yuyu-mercari/' do
                ゆうゆうメルカリ便
            %li
              = link_to 'https://www.mercari.com/jp/rakuraku-ogata/' do
                大型メルカリ便
            %li
              = link_to 'https://www.mercari.com/jp/guide/car/' do
                車体取引ガイド
            %li
              = link_to 'https://www.mercari.com/jp/safe/description/' do
                メルカリあんしん・あんぜん宣言！
            %li
              = link_to 'https://www.mercari.com/jp/authenticity/' do
                偽ブランド品撲滅への取り組み
            %li
              = link_to 'https://www.mercari.com/jp/box/' do
                メルカリボックス
      .footer-main__center
        .footer-cell.footer-cell_privacy
          %h2.footer-title
            プライバシーと利用規約
          .footer-item
            .footer-cell-inner__left
              %ul
                %li
                  = link_to 'https://www.mercari.com/jp/privacy/' do
                    プライバシーポリシー
                %li
                  = link_to 'https://www.mercari.com/jp/tos/' do
                    メルカリ利用規約
                %li
                  = link_to 'https://www.mercari.com/jp/tos_smartphone_support/' do
                    あんしんスマホサポート制度に関する利用特約
                %li
                  = link_to 'https://www.mercari.com/jp/compliance/' do
                    コンプライアンスポリシー

            .footer-cell-inner__right
              %ul
                %li
                  = link_to 'https://www.mercari.com/jp/data_security/' do
                    個人データの安全管理に係る基本方針
                %li
                  = link_to 'https://www.mercari.com/jp/tokutei/' do
                    特定商取引に関する表記
                %li
                  = link_to 'https://www.mercari.com/jp/shikin_kessai/' do
                    資金決済方に基づく表示
                %li
                  = link_to 'https://about.mercari.com/sustainability/' do
                    法令遵守と犯罪抑止のために
                %li
                  = link_to 'https://www.mercari.com/jp/help_center/category/458/' do
                    返品・返金ポリシー
      .footer-main__right
        .footer-cell.footer-cell_country
          %h2 国
          %ul
            %li
              = link_to 'https://www.mercari.com/jp/' do
                日本
            %li
              = link_to 'https://www.mercari.com/' do
                United Status
    .footer-sub
      .footer-sub__left
        = link_to image_tag "fmarket_logo_white.svg", href:"https://www.mercari.com/jp/"
      .footer-sub__right
        %small © Mercari, inc